@use '../../../../styles/variables' as v;

.BoHomeBtn {
  background-color: v.$primaryColorLight1;
  border-radius: v.$borderRadius;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  padding: 1rem 2rem;
  width: 30rem;

  transition: background-color 0.3s;
  &:hover {
    background-color: v.$primaryColor;
  }

  &-title {
    color: v.$primaryColorLight3;
    font-size: 2.5rem;
    font-weight: 700;
  }

  &-icon {
    color: v.$primaryColorLight3;
    font-size: 3rem;
  }
}

.LoginForm {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
