@use '../../../../styles/variables' as v;

.HeaderNav {
  width: 75%;

  @media (max-width: 639px) {
    display: none;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    &-item {
      &-link {
        color: v.$primaryColor;
        font-weight: 500;
        padding: 1rem 0;

        position: relative;
        &::after {
          background-color: v.$secondaryColorLight2;
          content: '';
          height: 3px;
          left: -5%;
          position: absolute;
          bottom: -12%;
          transition: width 0.3s;
          width: 0;
        }
        &:hover::after {
          width: 110%;
        }
        &.active::after {
          width: 110%;
          background-color: v.$secondaryColor;
        }
      }
    }
  }
}
