@use '../../../../styles/variables' as v;

.BoCarouselCard {
  &-label {
    border-radius: v.$borderRadius;
    display: flex;
    height: 9rem;
    overflow: hidden;
    position: relative;
    width: 12rem;

    &-img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    &-overlay {
      align-items: center;
      color: transparent;
      display: flex;
      font-size: 4rem;
      height: 100%;
      justify-content: center;
      position: absolute;
      width: 100%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
        color: rgba(255, 255, 255, 0.3);
      }
      transition:
        background-color 0.3s,
        color 0.3s;
    }
  }

  &-input {
    display: none;
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;

    &-btn.arrow,
    &-btn.trash {
      border: none;
      font-size: 1.25rem;
    }

    &-btn.arrow {
      color: v.$primaryColorLight1;

      &:hover {
        color: v.$primaryColor;
      }
      transition: color 0.3s;
    }

    &-btn.trash {
      color: rgb(228, 74, 74);

      &:hover {
        color: rgb(189, 49, 49);
      }
      transition: color 0.3s;
    }
  }
}
