@use '../../../../../styles/variables' as v;

.ContactTextBox {
  background-color: gray;
  border-radius: 50%;
  height: 23rem;
  width: 23rem;

  @media (max-width: 445px) {
    height: 20rem;
    width: 20rem;
  }

  &-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    width: 100%;

    &-p {
      margin-bottom: 1rem;
      text-align: center;
      width: 100%;

      &.question {
        font-weight: 600;
      }
    }
  }
}
