@use '../../../../styles/variables' as v;

.HeaderMenu {
  background-color: v.$secondaryColorLight3;
  border: v.$secondaryColorLight2 1px solid;
  border-radius: v.$borderRadius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: absolute;
  right: 0.5rem;
  top: 4.25rem;
}
