@use '../../../../../styles/variables' as v;

.Video {
  border-radius: v.$borderRadius2;
  height: 31.25rem;
  margin: 0 auto;
  overflow: hidden;
  width: 34rem;

  @media (max-width: 1240px) {
    height: 25.8rem;
    width: 28rem;
  }
  @media (max-width: 1040px) {
    height: 20.5rem;
    width: 22rem;
  }
  @media (max-width: 430px) {
    height: 17.5rem;
    width: 19rem;
  }
}
