@use '../../../../styles/variables' as v;

.Identity {
  font-family: 'gaya';
  height: calc(100vh - 4rem);
  overflow: hidden;
  position: relative;

  &-text {
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgba(31, 21, 58, 1) 0%,
      rgba(31, 21, 58, 0.733) 200%
    );
    color: v.$secondaryColorLight1;
    display: flex;
    flex-direction: column;
    font-size: 1.85rem;
    height: 100%;
    justify-content: space-around;
    padding: 2rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    @media (max-width: 780px) {
      font-size: 1.5rem;
    }

    @media (max-width: 593px) {
      font-size: 1.3rem;
    }

    &-item.first {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
