@use '../../../../../styles/variables' as v;

.Carousel {
  align-items: center;
  border-radius: v.$borderRadius2;
  border: 1px solid grey;
  display: flex;
  height: 31.25rem;
  margin: 0 auto;
  overflow: hidden;
  width: 34rem;

  @media (max-width: 1240px) {
    // height: 20rem;
    height: 25.8rem;
    width: 28rem;
  }
  @media (max-width: 1040px) {
    // height: 18rem;
    height: 20.5rem;
    width: 22rem;
  }
  @media (max-width: 430px) {
    // height: 15rem;
    height: 17.5rem;
    width: 19rem;
  }

  & .image-gallery {
    & button {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover button {
      opacity: 0.8;
    }
  }
}
