@use '../../../../../styles/variables' as v;

.Carousel {
  align-items: center;
  background-color: black;
  border-radius: v.$borderRadius2;
  display: flex;
  height: 31.25rem;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  width: 34rem;

  @media (max-width: 1240px) {
    // height: 20rem;
    height: 25.8rem;
    width: 28rem;
  }
  @media (max-width: 1040px) {
    // height: 18rem;
    height: 20.5rem;
    width: 22rem;
  }
  @media (max-width: 430px) {
    // height: 15rem;
    height: 17.5rem;
    width: 19rem;
  }

  button {
    opacity: 0;

    transition:
      color 0.3s ease,
      opacity 0.3s ease;
    &:hover {
      color: v.$secondaryColor;
    }
  }

  & .image-gallery-content {
    &:hover button {
      opacity: 0.8;
    }
  }

  & .image-gallery-slides {
    cursor: pointer;
  }
}
