@use '../../../../styles/variables' as v;

.Dates {
  height: calc(100vh - 4rem);
  overflow: hidden;
  position: relative;

  &-img {
    filter: blur(4px);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &-text {
    align-items: center;
    background-color: rgba(40, 20, 60, 0.733);
    color: v.$secondaryColorLight3;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    height: 100%;
    justify-content: space-around;
    padding: 0 2rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }
}
