@use '../../../../styles/variables' as v;

.Dates {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  padding: 4rem;
  width: 90%;

  &-list {
    margin-bottom: 4rem;
    width: 30rem;

    @media (max-width: 540px) {
      width: 25rem;
    }
    @media (max-width: 540px) {
      width: 20rem;
    }

    &-title {
      color: v.$primaryColor;
      margin-bottom: 3rem;
      text-align: center;
    }

    &-no {
      border-bottom: v.$primaryColorLight2 1px solid;
      border-top: v.$primaryColorLight2 1px solid;
      color: v.$primaryColorLight1;
      padding: 1rem 0.5rem;
      text-align: center;
    }
  }
}
