@use '../../../../styles/variables' as v;

.Carousel {
  align-items: center;
  display: flex;
  height: 25rem;
  margin: 0 auto;
  width: 34rem;

  @media (max-width: 1240px) {
    height: 20rem;
    width: 28rem;
  }
  @media (max-width: 1040px) {
    height: 18rem;
    width: 22rem;
  }
  @media (max-width: 430px) {
    height: 15rem;
    width: 19rem;
  }

  &-slider {
    height: 100%;
    width: 100%;

    & .slick-arrow::before {
      color: v.$secondaryColor;
    }

    & div {
      padding: 0 0.2rem;
      height: 100%;
      width: 100%;

      & img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
