@use '../../../styles/variables' as v;

.LoginForm {
  background-color: hsla(0, 0%, 0%, 0.9);
  height: 100%;
  padding-top: 20vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  &-wrapper {
    background-color: v.$primaryColorLight3;
    border-radius: v.$borderRadius;
    margin: auto;
    padding: 2rem;
    max-width: 50%;

    &-title {
      color: v.$primaryColor;
      margin-bottom: 1rem;
      text-align: center;
    }

    &-form {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 80%;

      &-label {
        color: v.$primaryColor;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      &-input {
        background-color: v.$secondaryColorLight3;
        border: 2px solid v.$secondaryColorLight1;
        border-radius: v.$borderRadius;
        color: v.$primaryColor;
        font-family: v.$mainFont;
        font-size: v.$textSize;
        margin-bottom: 1rem;
        padding: 0.5rem;

        &:focus {
          border-color: v.$primaryColor;
        }
      }

      &-submit {
        background-color: v.$primaryColorLight1;
        border: none;
        border-radius: v.$borderRadius;
        color: v.$primaryColorLight3;
        font-size: v.$textSize;
        margin: 0 auto 1rem auto;
        padding: 1rem;
        width: 50%;

        transition: background-color 0.3s;
        &:hover {
          background-color: v.$primaryColor;
        }
      }
    }
  }
}
