@use '../../../../styles/variables' as v;

.FooterBottom {
  display: flex;
  gap: 1rem;
  justify-content: center;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 1rem 3rem 1rem;

  @media (max-width: 670px) {
    align-items: center;
    flex-direction: column;
  }

  &-bar {
    @media (max-width: 670px) {
      display: none;
    }
  }

  &-credits {
    &-link {
      position: relative;
      &::before {
        background-color: v.$primaryColorLight3;
        bottom: -0.15rem;
        content: '';
        height: 0.1rem;
        left: 0;
        position: absolute;
        transition: width 0.2s;
        width: 0;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}
