@use '../../../../styles/variables' as v;

.FooterNews {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (max-width: 670px) {
    align-items: center;
    border-bottom: 1px solid v.$secondaryColorLight2;
    padding-bottom: 1.5rem;
    text-align: center;
  }
}
