@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$titleFont: 'Gaya', sans-serif;
$mainFont: 'Roboto', sans-serif;

$textSize: 1rem;

$borderRadius: 0.25rem;
$borderRadius2: 0.75rem;

$primaryColor: #28143c;
$primaryColorLight1: #6c417d;
$primaryColorLight2: #e9cdff;
$primaryColorLight3: #f3e7fc;

$secondaryColor: #dc554b;
$secondaryColorLight1: #ff7e75;
$secondaryColorLight2: #ffa69e;
$secondaryColorLight3: #ffe0dc;
