@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$titleFont: 'Gaya', sans-serif;
$mainFont: 'Roboto', sans-serif;

$textSize: 1rem;

$borderRadius: 0.25rem;

$backgroundColor: #e2f1fa;
$backgroundColorT: rgba(226, 241, 250, 0.74);
$backgroundColorDark: #85b2ce;

$darkColor: #0d548e;
$darkColor2: #0a3a5b;
$lightColor: #85b2ce;

$primaryColor: #dc554b;
$primaryColorLight1: #ff7e75;
$primaryColorLight2: #ffa69e;
$primaryColorLight3: #ffd3cd;

$secondaryColor: #28143c;
$secondaryColorLight1: #6c417d;
$secondaryColorLight2: #efe2f1;
$secondaryColorLight3: #f7f3fa;
