@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$titleFont: 'Gaya', sans-serif;
$mainFont: 'Inter', sans-serif;

$textSize: 1rem;

$borderRadius: 0.25rem;
$borderRadius2: 0.75rem;

$primaryColor: #28143c;
$primaryColorLight1: #6c417d;
$primaryColorLight2: #e9cdff;
$primaryColorLight3: #f7f0fc;

$secondaryColor: #dc554b;
$secondaryColorLight1: #ff7e75;
$secondaryColorLight2: #ffa69e;
$secondaryColorLight3: #fdebe9;
