@use '../../../../styles/variables' as v;

.Contact {
  align-items: center;
  // border-top: v.$primaryColorLight1 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  padding: 4rem;
  width: 90%;

  &-title {
    color: v.$primaryColor;
    margin-bottom: 3rem;
  }

  &-texts {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    & > div:first-child {
      background-color: v.$primaryColor;
      color: v.$primaryColorLight3;
    }

    & > div:nth-child(2) {
      background-color: v.$secondaryColor;
      color: v.$secondaryColorLight3;
    }

    & > div {
      @media (max-width: 800px) {
        width: 100%;
      }
      @media (max-width: 440px) {
        width: 140%;
      }
    }
  }

  &-textAdress {
    color: v.$primaryColor;
    margin-bottom: 2rem;
    text-align: center;
  }
}
