@use '../../../../styles/variables' as v;

.Contact {
  align-items: center;
  border-top: v.$secondaryColorLight1 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  padding: 4rem;
  width: 90%;

  &-title {
    color: v.$secondaryColor;
    margin-bottom: 3rem;
  }

  &-texts {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    &-text {
      border-radius: v.$borderRadius;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 15rem;
      padding: 2rem;
      width: 50%;

      @media (max-width: 800px) {
        width: 100%;
      }
      @media (max-width: 440px) {
        width: 140%;
      }

      &.left {
        background-color: v.$secondaryColor;
        color: v.$secondaryColorLight3;
      }
      &.right {
        background-color: v.$primaryColor;
        color: v.$primaryColorLight3;
      }

      &-p {
        margin-bottom: 1rem;
        text-align: justify;
        width: 80%;

        &.question {
          font-weight: 600;
        }
      }
    }
  }

  &-link {
    background-color: v.$secondaryColorLight2;
    border: v.$secondaryColorLight1 2px solid;
    border-radius: v.$borderRadius;
    color: v.$secondaryColor;
    display: flex;
    font-weight: 500;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;

    &:hover {
      background-color: v.$secondaryColorLight1;
      color: v.$secondaryColorLight3;
      transition:
        background-color 0.3s,
        color 0.3s;
    }
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  &-textAdress {
    color: v.$secondaryColor;
    margin-bottom: 2rem;
    text-align: center;
  }

  &-emailAdress {
    align-items: center;
    background-color: v.$primaryColorLight3;
    border: v.$primaryColor 2px solid;
    border-radius: v.$borderRadius;
    color: v.$primaryColor;
    display: flex;
    gap: 1rem;
    padding: 1rem;

    &-icon {
      font-size: 2.5rem;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      &-adress {
        font-weight: 600;
      }
    }
  }
}
