@use '../../../../styles/variables' as v;

.Contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  padding: 4rem;
  width: 90%;

  &-title {
    color: v.$primaryColor;
    margin-bottom: 3rem;
  }

  &-texts {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    & > div:first-child {
      background-color: v.$primaryColorLight1;
      color: v.$primaryColorLight3;

      &:hover {
        background-color: v.$primaryColor;
        transition: background-color 0.3s;
      }
      transition: background-color 0.3s;
    }

    & > div:nth-child(2) {
      background-color: v.$secondaryColorLight1;
      color: v.$secondaryColorLight3;

      &:hover {
        background-color: v.$secondaryColor;
        transition: background-color 0.3s;
      }
      transition: background-color 0.3s;
    }
  }

  &-textAdress {
    color: v.$primaryColor;
    margin-bottom: 2rem;
    text-align: center;
  }
}
