@use '../../../styles/variables' as v;

.Header {
  background-color: v.$secondaryColorLight3;
  border-bottom: v.$secondaryColorLight2 1px solid;
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 1;

  &-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    max-width: 1350px;
    margin: auto;
    padding: 0.5rem 2rem;
  }
}
