@use '../../../styles/variables' as v;

.Footer {
  color: v.$primaryColorLight3;
  background-color: v.$primaryColor;
  position: relative;

  &-top {
    border-bottom: 1px solid v.$primaryColorLight2;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto 1.5rem auto;
    padding: 4rem 2rem 1.5rem 2rem;
    width: 95%;

    @media (max-width: 670px) {
      align-items: center;
      flex-direction: column;
    }
  }
}
