@use '../../../styles/variables' as v;

.Footer {
  color: v.$secondaryColorLight3;
  background-color: v.$secondaryColor;
  position: relative;

  &-top {
    border-bottom: 1px solid v.$secondaryColorLight2;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto 1.5rem auto;
    padding: 4rem 2rem 1.5rem 2rem;
    width: 95%;

    @media (max-width: 670px) {
      align-items: center;
      flex-direction: column;
    }

    &-news {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @media (max-width: 670px) {
        align-items: center;
        border-bottom: 1px solid v.$secondaryColorLight2;
        padding-bottom: 1.5rem;
        text-align: center;
      }
    }

    &-nav {
      &-title {
        margin-bottom: 1.5rem;
        text-align: center;
      }
      &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        width: 10rem;
      }
    }
  }

  &-bottom {
    display: flex;
    gap: 1rem;
    justify-content: center;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 1rem 3rem 1rem;

    @media (max-width: 670px) {
      align-items: center;
      flex-direction: column;
    }

    &-bar {
      @media (max-width: 670px) {
        display: none;
      }
    }

    &-credits {
      &-link {
        position: relative;
        &::before {
          background-color: v.$secondaryColorLight3;
          bottom: -0.15rem;
          content: '';
          height: 0.15rem;
          left: 0;
          position: absolute;
          transition: width 0.2s;
          width: 0;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}
