@use '../../../styles/variables' as v;

.Footer {
  color: v.$secondaryColorLight3;
  background-color: v.$secondaryColor;
  position: relative;

  &-top {
    max-width: 1350px;
    margin: 0 auto;
    padding: 3rem 0;
  }
}
