@use '../../../../styles/variables' as v;

.FooterNav {
  &-title {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    width: 10rem;
  }
}
