@use '../../../styles/variables' as v;

.News {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1350px;
  padding: 4rem 0 4rem 0;

  &-title {
    color: v.$primaryColor;
    margin-bottom: 3rem;
    text-align: left;
  }
}
