@use '../../../../../styles/variables' as v;

.ContactLink {
  background-color: v.$primaryColorLight2;
  border: v.$primaryColorLight1 2px solid;
  border-radius: v.$borderRadius;
  color: v.$primaryColor;
  display: flex;
  font-weight: 500;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;

  &:hover {
    background-color: v.$primaryColorLight1;
    color: v.$primaryColorLight3;
    transition:
      background-color 0.3s,
      color 0.3s;
  }
  transition:
    background-color 0.3s,
    color 0.3s;
}
