@use '../../../../../styles/variables' as v;

.ContactLink {
  align-items: center;
  background-color: v.$primaryColorLight1;
  border: v.$primaryColor 2px solid;
  border-radius: v.$borderRadius;
  color: v.$primaryColorLight3;
  display: flex;
  font-weight: 500;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;

  &:hover {
    background-color: v.$primaryColor;
    transition: background-color 0.3s;
  }
  transition: background-color 0.3s;

  &-text {
    white-space: nowrap;

    @media (max-width: 540px) {
      display: none;
    }
  }

  &-icon {
    @media (max-width: 540px) {
      order: 2;
    }
  }

  &-email {
    @media (max-width: 540px) {
      order: 1;
    }
  }
}
