@use '../../../../../styles/variables' as v;

.MenuLang {
  display: flex;
  padding: 1rem;

  &-btn {
    background-color: transparent;
    border: none;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    padding: 0.5rem;
    width: 50%;

    &:hover {
      text-shadow: 0 0 5px v.$secondaryColor;
      transition: text-shadow 0.3s;
    }
    transition: text-shadow 0.3s;

    &.fr {
      border-right: 1px solid v.$primaryColor;
    }
    &.de {
      border-left: 1px solid v.$primaryColor;
    }
    &.active {
      font-weight: 800;
    }
  }
}
