@use '../../../../../../styles/variables' as v;

.ActivePicture {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: v.$borderRadius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  height: 92%;
  left: 0.5%;
  overflow: hidden;
  position: absolute;
  padding: 0.5rem;
  width: 99%;
  z-index: 1;

  &-close {
    align-items: center;
    appearance: none;
    background-color: rgba(255, 255, 255, 0.74);
    border: none;
    border-radius: v.$borderRadius;
    color: rgb(99, 99, 99);
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    height: 2rem;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 2rem;
    -webkit-appearance: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
    transition: background-color 0.3s;

    @supports (-webkit-touch-callout: none) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-icon {
      display: block;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &-image {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}
