@use '../../../../styles/variables' as v;

.FooterTopDivider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.FooterTopDivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 25px;
}

.FooterTopDivider .shape-fill {
  fill: v.$secondaryColorLight3;
}
