@use '../../../../styles/variables' as v;

.FooterTopDivider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.FooterTopDivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 27px;
}

.FooterTopDivider .shape-fill {
  fill: #f3e7fc;
}
