@use '../../../../styles/variables' as v;

.MenuBtn {
  background-color: transparent;
  border: none;
  color: v.$secondaryColor;
  font-size: 2rem;
  padding-top: 0.5rem;

  @media (min-width: 640px) {
    display: none;
  }
}
