@use '../../../../styles/variables' as v;

.BoNewsFormBtns {
  display: flex;
  justify-content: space-between;

  &-submit,
  &-return {
    align-items: center;
    border: none;
    border-radius: v.$borderRadius;
    display: flex;
    font-size: v.$textSize;
    font-weight: 600;
    gap: 0.5rem;
    justify-content: center;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    width: 10rem;
  }

  &-submit {
    background-color: v.$primaryColorLight1;
    color: v.$primaryColorLight3;

    transition: background-color 0.3s;
    &:hover {
      background-color: v.$primaryColor;
    }

    &-icon {
      font-size: 1.25rem;
    }
  }

  &-return {
    background-color: v.$secondaryColorLight1;
    color: v.$secondaryColorLight3;

    transition: background-color 0.3s;
    &:hover {
      background-color: v.$secondaryColor;
    }

    &-icon {
      font-size: 1.5rem;
    }
  }
}
