@use '../../../../../styles/variables' as v;

.Date {
  color: v.$primaryColorLight1;
  &-link {
    align-items: center;
    border-bottom: v.$primaryColorLight2 1px solid;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 1rem 0.5rem;

    &.first {
      border-top: v.$primaryColorLight2 1px solid;
    }

    &:hover {
      background-color: v.$primaryColorLight2;
      transition: background-color 0.3s;
    }
    transition: background-color 0.3s;

    &-info {
      display: flex;
      gap: 0.25rem;
      flex-direction: column;

      &-date {
        font-weight: 800;
      }

      &-place {
        font-weight: 500;
      }
    }

    &-city {
      font-weight: 500;
      text-align: right;
      width: 50%;
    }
  }
}
