@use '../../../../../styles/variables' as v;

.Date {
  color: v.$primaryColorLight1;
  &-link {
    border-bottom: v.$primaryColorLight2 1px solid;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0.5rem;

    &.first {
      border-top: v.$primaryColorLight2 1px solid;
    }

    &:hover {
      background-color: v.$primaryColorLight2;
      transition: background-color 0.3s;
    }
    transition: background-color 0.3s;

    &-date {
      font-weight: 800;
    }

    &-location {
      display: flex;
      font-weight: 500;
      gap: 4rem;
      justify-content: space-between;

      &-city {
        text-align: right;
      }
    }
  }
}
